---

const  {id} = Astro.props;

---

<div
  x-show={`activeTab === '${id}'`}
  x-transition:enter="transition-all duration-500 easy-in-out"
  x-transition:enter-start="opacity-0 [transform:translate3d(1rem,0,0)]"
  x-transition:enter-end="opacity-100 [transform:translate3d(0,0,0)]"
>
  <div>
    <slot />
  </div>
</div>
