---
import Card from "@/components/ui/Card.astro";
import Accordion from "../ui/alpine/Accordion.astro";

const { competition, phase } = Astro.props;
---

<Card>
   <h2>Knockout {phase.name}</h2>
    <Accordion></Accordion>
</Card>