---
import TenantCompetition from "@/layouts/TenantCompetition.astro";

const _team = {
  name: "RCD Mallorca",
  slug: "rcd-mallorca",
};
---

<TenantCompetition>
  <h1>Calendars</h1>
</TenantCompetition>
