---
import MatchesCard from "@/components/matches/MatchesCard.astro";
import TenantTeam from "@/layouts/TenantTeam.astro";
import Card from "@/components/ui/Card.astro";
import SearchPanel from "@/components/ui/alpine/SearchPanel.astro";
import Textbox from "@/components/ui/alpine/Textbox.astro";
import Button from "@/components/ui/alpine/Button.astro";

const _team = {
  name: "RCD Mallorca",
  slug: "rcd-mallorca",
};
---

<TenantTeam>
  <h1>Team {_team.name} Matches</h1>
  <div class="flex flex-col space-y-4 w-4xl">
    <Card>
    <SearchPanel event="doSearch" data="searchFormData">
      <Textbox
        label="Season"
        model="searchFormData.fromTeam"
        placeholder="24"
      />
      <Textbox
        label="Competition"
        model="searchFormData.toTeam"
        placeholder="Searie A"
      />
      <Button label="Search" onClick="doSearch" />
    </SearchPanel>
  </Card>
    <MatchesCard team={_team} />
  </div>
</TenantTeam>
