---
import TenantUser from "@/layouts/TenantUser.astro";
import SearchPanel from "@/components/ui/alpine/SearchPanel.astro";
import SearchResults from "@/components/ui/alpine/SearchResults.astro";
import Textbox from "@/components/ui/alpine/Textbox.astro";
import Card from "@/components/ui/Card.astro";
import Button from "@/components/ui/alpine/Button.astro";
import TableHeaderCell from "@/components/ui/TableHeaderCell.astro";
import TableBodyCell from "@/components/ui/TableBodyCell.astro";
import TableRow from "@/components/ui/TableRow.astro";

const _team = {
  name: "RCD Mallorca",
  slug: "rcd-mallorca",
};

const _alpineParams = {};
const _alpineModel = "playersSearch()";

const events = {
  doSearch: "playersSearch()",
};
---

<script>
  import formatNumber from "@/lib/formatNumbers";

  window.playersSearch = (params) => {
    return {
      searchResults: [],
      init() {
        console.log("init");
        for (let i = 0; i < 30; i++) {
          this.searchResults.push({
            name: `Player ${i + 1}`,
            slug: `Slug-${i + 1}`,
            vg: formatNumber(50 + Math.floor(Math.random() * 45)),
            role: `Role-${i + 11}`,
            wage: formatNumber(Math.floor(Math.random() * 10000000)),
            value: formatNumber(Math.floor(Math.random() * 300000000)),
          });
        }
      },

      updateResults(event) {
        const searchForm = event.detail;
        this.searchResults = [];
        for (let i = 0; i < 30; i++) {
          this.searchResults.push({
            name: `Player ${i + 11}`,
            slug: `Slug-${i + 11}`,
            vg: formatNumber(50 + Math.floor(Math.random() * 45)),
            role: `Role-${i + 11}`,
            wage: formatNumber(Math.floor(Math.random() * 10000000)),
            value: formatNumber(10000000),
          });
        }
      },

      gotoPlayer(slug) {
        window.location.href = `/players/${slug}`;
      },
    };
  };
</script>

<TenantUser>
  <h1>players</h1>
  <Card>
    <SearchPanel event="doSearch">
      <Textbox
        label="Search"
        model="searchFormData.sampleField"
        placeholder="Search"
      />
      <Button label="Search" onClick="doSearch" />
    </SearchPanel>

    <SearchResults _alpineModel={_alpineModel}>
      <thead slot="head">
        <tr
          class="border border-transparent border-b-slate-200 dark:border-b-navy-500"
        >
          <TableHeaderCell>#</TableHeaderCell>
          <TableHeaderCell>Player Name</TableHeaderCell>
          <TableHeaderCell>VG</TableHeaderCell>
          <TableHeaderCell>Role</TableHeaderCell>
          <TableHeaderCell>Wage</TableHeaderCell>
          <TableHeaderCell>Value</TableHeaderCell>
        </tr>
      </thead>
      <tbody slot="body">
        <template x-for="(player, index) of searchResults">
          <TableRow onClick="gotoPlayer(player.slug)">
            <TableBodyCell
              ><div class="avatar">
                <img
                  class="rounded-full"
                  src="/images/200x200.png"
                  alt="avatar"
                />
              </div></TableBodyCell
            >
            <TableBodyCell><span x-text="player.name"></span></TableBodyCell>
            <TableBodyCell><span x-text="player.vg"></span></TableBodyCell>
            <TableBodyCell><span x-text="player.role"></span></TableBodyCell>
            <TableBodyCell><span x-text="player.wage"></span> </TableBodyCell>
            <TableBodyCell><span x-text="player.value"></span> </TableBodyCell>
          </TableRow>
        </template>
      </tbody>
    </SearchResults>
  </Card>
</TenantUser>
