---
import TenantTeam from "@/layouts/TenantTeam.astro";
import Operations from "@/components/market/Operations.astro";
import WaitingOperationsCard from "@/components/market/WaitingOperationsCard.astro";
import OperationsHistoryCard from "@/components/market/OperationsHistoryCard.astro";

const _team = {
  name: "RCD Mallorca",
  slug: "rcd-mallorca",
};
---

<TenantTeam>
  <h1>Team {_team.name} Market</h1>
  <div class="flex flex-col space-y-4">
    <Operations />
    <WaitingOperationsCard/>
    <OperationsHistoryCard/>
  </div>
</TenantTeam>
