---
import TenantTeam from "@/layouts/TenantTeam.astro";
import RosterCard from "@/components/teams/RosterCard.astro";
import RosterAnalysisCard from "@/components/teams/RosterAnalysisCard.astro";
import RosterOperations from "@/components/teams/RosterOperations.astro";

const _team = {
  name: "RCD Mallorca",
  slug: "rcd-mallorca",
  manager: {
    name: "Manager 1",
    slug: "manager-1",
  },
};
---

<TenantTeam>
  <h1>Roster {_team.name}</h1>
  <div class="flex flex-col space-y-4">
    <RosterOperations team={_team} />
    <RosterAnalysisCard team={_team} />
    <RosterCard team={_team} />
  </div>
</TenantTeam>
