<!-- Dark Mode Toggle -->
<a class="darkmode-toggle w-6 h-6">
    <div class="material-icons text-slate-800 dark:text-navy-100 darkmode-moon"
        >dark_mode</div
    >
    <div class="material-icons text-slate-800 dark:text-navy-100 darkmode-sun"
        >light_mode</div
    >
</a>
