---
const menu = Astro.props.menu;
//:class="activeTab === 'tabHome' ? 'border-primary dark:border-accent text-primary dark:text-accent-light' : 'border-transparent hover:text-slate-800 focus:text-slate-800 dark:hover:text-navy-100 dark:focus:text-navy-100'"
---

<div class="is-scrollbar-hidden overflow-x-auto">
  <div class="tabs-list flex">
    {
      menu.map((t) => {
        return (
          <a
            href={t.href}
            class="btn shrink-0 rounded-none border-b-2 px-3 py-2 font-medium"
          >
            {t.label}
          </a>
        );
      })
    }
  </div>
</div>
