---
const tenant = Astro.locals.tenant;
const CONTENT_BASE_URL = import.meta.env.CONTENT_BASE_URL
const logosrc= tenant?.configuration?.logo ? CONTENT_BASE_URL + tenant.configuration.logo : "/logo.svg"

---

<div class="flex flex-rows items-center space-x-2">
  <a href="/">
    <img
      class="size-11 transition-transform duration-500 ease-in-out hover:rotate-[360deg]"
      src={logosrc}
      alt="logo"
    />
  </a>
  <h1>{tenant.name}</h1>
</div>
